.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 2rem;
    height: 18rem;
    margin-top: 4rem;

    &__footer-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        width: 6rem;
        gap: 1rem;
        font-size: 2em;

        a {
            color: whitesmoke;
        }

    }

    &__footer-text {
        color: whitesmoke;
        text-align: center;
    }

    @media screen and (min-width: 576px) {
        & {
            height: 16rem;

            &__footer-logo {
                font-size: 2.5em;
                width: 13rem;
                gap: 1.5rem;
                border: none;
            }
        }
    }

    @media screen and (min-width: 992px) {
        & {
            flex-direction: row;
        }

        &__footer-logo {
            flex-direction: column;
            width: 5rem;
            gap: 0.5rem;
            border-right: 5px solid whitesmoke;

        }

        &__footer-text {
            font-size: 1.1em;
        }
    }
}