.spinner {
    display: grid;
    place-items: center;

    &__loader {
        position: relative;
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: conic-gradient(black, transparent);
        animation: rotate 1s linear infinite;
    }

    &__loader:before,
    &__loader:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    &__loader:before{
        width: 64px;
        height: 64px;
        top: 8px;
        left: 8px;
        background-color: orange;
    }

    &__loader:after{
        height: 8px;
        width: 8px;
        background-color: black;
        top: 0;
        left: 36px;
    }



    p {
        font-family: tahoma;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 12px;
    }

@keyframes rotate {
    from{ transform: rotateZ(0);}
    to{ transform: rotateZ(360deg);}
}

}